<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>895047181692-8drfkd9uncqikn2q4dh88rvbag6fvrnd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.895047181692-8drfkd9uncqikn2q4dh88rvbag6fvrnd</string>
	<key>API_KEY</key>
	<string>AIzaSyCInujAu65WwsiToFic5FqpCtqbAT3_f-E</string>
	<key>GCM_SENDER_ID</key>
	<string>895047181692</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.diploma</string>
	<key>PROJECT_ID</key>
	<string>miu-wise</string>
	<key>STORAGE_BUCKET</key>
	<string>miu-wise.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:895047181692:ios:ac9b1461082c89315330f9</string>
	<key>DATABASE_URL</key>
	<string>https://miu-wise-default-rtdb.firebaseio.com</string>
</dict>
</plist>